<script src="[:app]/js/game_page.js"></script>
<script src="[:app]/js/connector.js"></script>
<script src="[:app]/js/resources.js"></script>

<div id="main-wrapper">
    <div v-cloak>
        <div v-if="step == 0">
            <div>connecting to game server.</div>
        </div>
        <div v-if="step == 1">
            loading
        </div>
        <div v-if="step == 2">
            <table class="table">
                <tr v-for="g in gamelist">
                    <td>{{g.id}}</td>
                    <td>{{g.title}}</td>
                    <td>{{g.players}}</td>
                    <td><button v-bind:gid="g.id" v-on:click="idle_joinGame">join</button></td>
                </tr>
            </table>
            <button onclick="connector.createGame('123321a')">CreateGame</button>
            <button onclick="connector.refreshGameList()">refresh</button>
        </div>
        <div v-if="step == 3">
            <h4>{{room.title}}</h4>
            <div>{{room.id}}</div>

            <table class="table table-bordered">
                <tr v-for="player in players">
                    <td><img v-bind:src="'[:app]/' + resources.heroes[player.heroindex].portrait" /></td>
                    <td>
                        <div>{{resources.heroes[player.heroindex].name}}</div>
                        <div>
                            <div><span>SPD</span><span v-for="(v, vk) in resources.heroes[player.heroindex].prop.speed" v-bind:class="{ 'currentprop': vk == resources.heroes[player.heroindex].start.speed }">{{v}}</span></div>
                            <div><span>MHT</span><span v-for="(v, vk) in resources.heroes[player.heroindex].prop.might" v-bind:class="{ 'currentprop': vk == resources.heroes[player.heroindex].start.might }">{{v}}</span></div>
                            <div><span>SAN</span><span v-for="(v, vk) in resources.heroes[player.heroindex].prop.sanity" v-bind:class="{ 'currentprop': vk == resources.heroes[player.heroindex].start.sanity }">{{v}}</span></div>
                            <div><span>KLG</span><span v-for="(v, vk) in resources.heroes[player.heroindex].prop.knowledge" v-bind:class="{ 'currentprop': vk == resources.heroes[player.heroindex].start.knowledge }">{{v}}</span></div>
                        </div>
                        <div>
                            <label>{{player.mNick}}</label>
                        </div>
                    </td>
                    <td><div v-if="player.mPlayerId == playerid"><button v-on:click="room_nextHero">&gt;</button></div></td>
                </tr>
            </table>
            <button onclick="leave()">LeaveGame</button>
            <br />
            <button onclick="start()">Start</button>
            <br />
            <button onclick="select_hero()">Select</button>
        </div>
        <div v-if="step == 4">
            GAME
        </div>
    </div>
</div>

