<script src="[:app]/js/game_page.js"></script>
<script src="[:app]/js/connector.js"></script>
<script src="[:app]/js/resources.js"></script>

<div id="main-wrapper">
    <div v-cloak>
        <div v-if="step == 0">
            <div>connecting to game server.</div>
        </div>
        <div v-if="step == 1">
            loading
        </div>
        <div v-if="step == 2">
            <table class="table">
                <tr v-for="g in gamelist">
                    <td>{{g.id}}</td>
                    <td>{{g.title}}</td>
                    <td>{{g.players}}</td>
                    <td><button v-bind:gid="g.id" v-on:click="idle_joinGame">join</button></td>
                </tr>
            </table>
            <button onclick="connector.createGame('123321a')">CreateGame</button>
            <button onclick="connector.refreshGameList()">refresh</button>
        </div>
        <div v-if="step == 3">
            <table class="table">
                <tr>
                    <td>NICK</td>
                    <td>
                        <div><img v-bind:src="resources.heroes[room.currenthero].image.src" /></div>
                        <div>
                            <div><span>SPD</span><span v-for="(v, vk) in resources.heroes[room.currenthero].prop.speed" v-bind:class="{ 'currentprop': vk == resources.heroes[room.currenthero].start.speed }">{{v}}</span></div>
                            <div><span>MHT</span><span v-for="(v, vk) in resources.heroes[room.currenthero].prop.might" v-bind:class="{ 'currentprop': vk == resources.heroes[room.currenthero].start.might }">{{v}}</span></div>
                            <div><span>SAN</span><span v-for="(v, vk) in resources.heroes[room.currenthero].prop.sanity" v-bind:class="{ 'currentprop': vk == resources.heroes[room.currenthero].start.sanity }">{{v}}</span></div>
                            <div><span>KLG</span><span v-for="(v, vk) in resources.heroes[room.currenthero].prop.knowledge" v-bind:class="{ 'currentprop': vk == resources.heroes[room.currenthero].start.knowledge }">{{v}}</span></div>
                        </div>
                    </td>
                    <td><button v-on:click="room_nextHero">next</button></td>
                </tr>
            </table>
            <button onclick="leave()">LeaveGame</button>
            <br />
            <button onclick="start()">Start</button>
            <br />
            <button onclick="select_hero()">Select</button>
        </div>
        <div v-if="step == 4">
            GAME
        </div>
    </div>
</div>

